[submodule "SimulatedEnvs/CyberBattleSim"]
	path = SimulatedEnvs/CyberBattleSim
	url = git@github.com:microsoft/CyberBattleSim.git
[submodule "SimulatedEnvs/NetworkAttackSimulator"]
	path = SimulatedEnvs/NetworkAttackSimulator
	url = git@github.com:Jjschwartz/NetworkAttackSimulator.git
[submodule "DataSets/Awesome-Cybersecurity-Datasets"]
	path = DataSets/Awesome-Cybersecurity-Datasets
	url = git@github.com:shramos/Awesome-Cybersecurity-Datasets.git
[submodule "Papers/github_paper"]
	path = Papers/github_paper
	url = git@github.com:deanuniversityofsalford/Systematic-Literature-Review---AI-in-Penetration-testing-and-vulnerability-assessment.git